body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    padding: 20px;
}

.page-link {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 19px;
    color: #000000;
    text-decoration: underline;
}

header h1 {
    color: #333;
    border-bottom: 5px solid #52d0e9;
    padding-bottom: 10px;
}

p {
    background-color: #fff;
    border: 5px solid #52d0e9;
    padding: 10px;
    border-radius: 5px;
}

img {
    display: block;
    margin-top: 20px;
}

figure {
    margin-top: 30px;
    background-color: #fdfdfd;
    padding: 10px;
    border: 2px solid #52d0e9;
}

progress {
    width: 100%;
    margin-top: 20px;
}
